/* @author Harshit Trivedi <harshit.trivedi@dal.ca> */

.contactUs{
    margin-left: calc(5%);
  }
h1 {
    text-align: left;
    margin: 0px 0px 13px 0px;
    padding: 15px;
    font: normal 400 36px/36px 'Roboto', sans-serif;
    color: #335e85;
  }
h3 {
    padding: 5px;
    letter-spacing: 0.000em;
    font: 'Roboto', sans-serif;
    color: #635f5d;
}
.imgClass{
    text-align: left;
}
