<!-- Mat-Card element is adopted from Angular Material and made lot of changes by customizing with css.
  Form elemnts from Angular Material is also been used while designing form elemnts like buttons.
 -->
 <div class="container">
    <div class="row" style="padding: 10px;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>dui vivamus</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
            Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Volutpat ac tincidunt vitae semper quis lectus. Ut
            etiam sit amet
            nisl purus. Consectetur a erat nam at lectus urna duis convallis. Sit amet est placerat in egestas. Faucibus
            interdum
            posuere lorem ipsum dolor. Feugiat in fermentum posuere urna nec tincidunt praesent semper.
            Mauris ultrices eros in cursus turpis. Arcu dictum varius duis at consectetur lorem.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-stroked-button style="background-color:#001F3F; color:#fef8f2;">View Full Blog</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="row" style="padding: 10px;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>dui vivamus</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
            Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Volutpat ac tincidunt vitae semper quis lectus. Ut
            etiam sit amet
            nisl purus. Consectetur a erat nam at lectus urna duis convallis. Sit amet est placerat in egestas. Faucibus
            interdum
            posuere lorem ipsum dolor. Feugiat in fermentum posuere urna nec tincidunt praesent semper.
            Mauris ultrices eros in cursus turpis. Arcu dictum varius duis at consectetur lorem.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-stroked-button style="background-color:#001F3F; color: #fef8f2;">View Full Blog</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="row" style="padding: 10px;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>dui vivamus</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
            Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Volutpat ac tincidunt vitae semper quis lectus. Ut
            etiam sit amet
            nisl purus. Consectetur a erat nam at lectus urna duis convallis. Sit amet est placerat in egestas. Faucibus
            interdum
            posuere lorem ipsum dolor. Feugiat in fermentum posuere urna nec tincidunt praesent semper.
            Mauris ultrices eros in cursus turpis. Arcu dictum varius duis at consectetur lorem.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-stroked-button style="background-color:#001F3F; color: #fef8f2;">View Full Blog</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="row" style="padding: 10px;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>dui vivamus</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
            Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Volutpat ac tincidunt vitae semper quis lectus. Ut
            etiam sit amet
            nisl purus. Consectetur a erat nam at lectus urna duis convallis. Sit amet est placerat in egestas. Faucibus
            interdum
            posuere lorem ipsum dolor. Feugiat in fermentum posuere urna nec tincidunt praesent semper.
            Mauris ultrices eros in cursus turpis. Arcu dictum varius duis at consectetur lorem.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-stroked-button style="background-color:#001F3F; color: #fef8f2;">View Full Blog</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="row" style="padding: 10px;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>dui vivamus</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
            Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Volutpat ac tincidunt vitae semper quis lectus. Ut
            etiam sit amet
            nisl purus. Consectetur a erat nam at lectus urna duis convallis. Sit amet est placerat in egestas. Faucibus
            interdum
            posuere lorem ipsum dolor. Feugiat in fermentum posuere urna nec tincidunt praesent semper.
            Mauris ultrices eros in cursus turpis. Arcu dictum varius duis at consectetur lorem.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-stroked-button style="background-color:#001F3F; color: #fef8f2;">View Full Blog</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="row" style="padding: 10px;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>dui vivamus</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
            Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Volutpat ac tincidunt vitae semper quis lectus. Ut
            etiam sit amet
            nisl purus. Consectetur a erat nam at lectus urna duis convallis. Sit amet est placerat in egestas. Faucibus
            interdum
            posuere lorem ipsum dolor. Feugiat in fermentum posuere urna nec tincidunt praesent semper.
            Mauris ultrices eros in cursus turpis. Arcu dictum varius duis at consectetur lorem.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-stroked-button style="background-color:#001F3F; color: #fef8f2;">View Full Blog</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="row" style="padding: 10px;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>dui vivamus</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
            Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Volutpat ac tincidunt vitae semper quis lectus. Ut
            etiam sit amet
            nisl purus. Consectetur a erat nam at lectus urna duis convallis. Sit amet est placerat in egestas. Faucibus
            interdum
            posuere lorem ipsum dolor. Feugiat in fermentum posuere urna nec tincidunt praesent semper.
            Mauris ultrices eros in cursus turpis. Arcu dictum varius duis at consectetur lorem.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-raised-button style="background-color:#001F3F; color: #fef8f2;">View Full Blog</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

