<div style="font-family: Roboto, Helvetica Neue, sans-serif;" class="container">
    <div class="feedback-form">
        <div style="text-align: center;" class="add-comment">
            <div style="font-family: Roboto, Helvetica Neue, sans-serif;" class="row justify-content-center">

                <h3><b>Write A Feedback</b></h3>
                <br>
                <br>
            </div>
            <div class="card">
                <form #feedbackForm="ngForm" (ngSubmit)="onSubmit(feedbackForm)">
                    <input type="hidden" name="_id" #_id="ngModel"
                        [(ngModel)]="feedbackService.selectedFeedback._id">

                    <div class="row justify-content-center">

                        <div class="input-1">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                <label id="label-title">Name *</label>
                            </div>
                            <div style="margin-top:-5px" class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                <div class="input-field">
                                    <input required type="text" name="name" #name="ngModel"
                                        [(ngModel)]="feedbackService.selectedFeedback.name"
                                        placeholder="Enter full name" required>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div style="margin-top: 25px;" class="row justify-content-center">

                        <div class="input-1">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

                                <label id="label-title">Date *</label>

                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

                                <div class="input-field">
                                    <input required type="text" name="date" #date="ngModel"
                                        [(ngModel)]="feedbackService.selectedFeedback.date"
                                        placeholder="Enter today's date">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top: 25px;" class="row justify-content-center">


                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

                            <label style="text-align: left;" id="label-title">Feedback *</label>

                        </div>



                        <div class="input-field">
                            <br>

                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <input required type="text" style="height: 70px; width: inherit;" name="feedback"
                                #feedback="ngModel" [(ngModel)]="feedbackService.selectedFeedback.feedback"
                                placeholder="Enter your feedback">
                        </div>
                    </div>
                    <div style="margin-top: 45px;" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn btn-custom right" id="submit-button" type="button"
                                (click)="resetForm(feedbackForm)">Reset</button>
                            <button class="btn btn-custom right" id="reset-button" type="submit"
                                [disabled]="!feedbackForm.valid">Submit Feedback</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <style>
        input {
            margin-top: 1px;
            width: 300px;
            border-radius: 3px;
            height: 40px;
            background: gainsboro;
            border: 2px solid lavender;
        }
        
body {
    width: 100%;
}

.profile-picture {
    max-width: 500px;
    max-height: 400px;
    object-fit: cover;
}

.details-container{
    width: 40%;
}

.confirm{
    background-color: #001f3f !important;
    color: white !important;
    width: fit-content;
}

.mat-raised-button{
    background-color: #2E8B57;
    color: white;
}

mat-icon {
    color: #ffc700;
}

body{
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}

.example-card {
    max-width: 250px;
}

.review-container{
    width: 70%;
    margin: 0 auto;
}

.card-header {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
}
:host /deep/ .mat-card-header-text{
    margin: 0 !important;
    padding: 0 !important;
}

mat-card-title {
    font-size: 80% !important;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.scroll-container{
    overflow-x: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #001F3F #F5F5F5;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #001F3F;
  border-radius: 20px;
  border: 3px solid #F5F5F5;
}

mat-grid-list {
    flex-direction: row;
}

mat-card {
    float: left;
    margin: 10px;
}

.mat-icon-button {
    background-color: #001F3F;
    color: white;
}


h5,h4,h3 {
    margin: 0;
}

mat-divider {
    width: 80%;
    margin: 0 auto;
}

#submit-button{

    background: #001f3f ;
    
    color: white;
    font-size: 14px;
    font-weight: 600;
  
    font-family:Helvetica;
    height: fit-content;
    transition: transform .2s;
    
}

#reset-button{
    background:#001f3f ;
    
    color: white;
    font-size: 14px;
    font-weight: 600;
  
    font-family:Helvetica;
    height: fit-content;
    transition: transform .2s;

}

#doctor-col{
padding: 30px;
}

.card{
padding: 20px;


height: fit-content;

border: 2px solid #09335e;
vertical-align: middle;




}
</style>