
<div class="footer" id="backmain">
    <br>
    <div class="container" style="color: white;">
        <div class="row">
          <div class="col-sm">
           <h1>Doctors</h1>
           <br>
            <p>Top Doctors</p>
            <p>Find Doctors Online</p>
          </div>
          <div class="col-sm">
            <h1>Insurance</h1>
            <br>
            <p><a routerLink="/insurance">Top Insurance Providers</a></p>
            <p><a routerLink="/insurance">Find Insurance Online</a></p>
          </div>
          <div class="col-sm">
            <h1>Medicines</h1>
            <br>
            <p>COVID Medicines</p>
            <p>Trending Medicines</p>
            <p><a routerLink="/orderMedicine">Medicines Online</a></p>
          </div>
          <div class="col-sm">
            <h1>About Us</h1>
            <br>
            <p><a routerLink="/forum">Check online Forum</a></p>
            <p><a routerLink="/contactUs">Contact Us</a></p>
            <p><a routerLink="/aboutUs">About HealthHub</a></p>
          </div>
        </div>
      </div>
   </div>
