<!--author: Vidip Malhotra-->
<div class="container" style="margin-bottom:35%; font-family: Lato;">
    <br>
    <div class="row">
      <div class="col-7">
        <div style="background-color: #F4E2DE;  font-family: Charcoal; padding-top: 10px; padding-bottom: 10px;  padding-left:10px;  padding-right:10px;">
            <h2>Q: {{forumData[0].question}} ?</h2>
            <h3>{{forumData[0].description}}</h3>
            <h3><span style="font-size: 15px;">Asked By: </span>{{forumData[0].askedby}}</h3>
            <h3><span style="font-size: 15px;">Category: </span>{{forumData[0].category}}</h3>
            <span class="badge badge-primary" (click)="votequestion(forumData[0].id)">Upvote</span> &nbsp;&nbsp;&nbsp; <span>{{forumData[0].votes}} Upvotes</span>
            <br>
            <p style="text-align: center; color: red;"> {{this.vote_alert_message}}</p>
        </div>
        <br>
        <form #QuestionForm="ngForm" (ngSubmit)="onSubmit(QuestionForm)" autocomplete="off">
            <div class="form-group">
                <h3>Post Your Answer Here</h3>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  name ="question1" #question1="ngModel" [(ngModel)]="question"  required></textarea>
                <div class="alert alert-danger" *ngIf="question1.touched && !question1.valid">Answer is required</div>
            </div>
            <p style="text-align: center; color: red;">{{alert_message}}</p>
              <button type="submit" class="btn btn-success" style="width:200px; margin-left: 34%;"  [disabled]="question === ''">Answer</button>
            </form>

        <br>
         <h2> Answers</h2>
         <br>
         <p style="border-bottom: 1px solid #dedee3;"></p>
         <div class="container">
             <br>
            <div class="row" *ngFor="let data of answers" style="border-bottom: 1px solid #dedee3;">
                <br><br><br><br>
              <div class="col-sm-3" style="margin-top: 5%;">
                <img src="assets/user.png" alt="image" />
                <h3 style="padding-top: 15px;">{{data.by}}</h3>
              </div>
              <div class="col-sm-8">
               <h3 style="padding-top: 10px;">{{data.answer}}</h3>
               <br>
               <span class="badge badge-primary" (click)="voted(data.id)">Upvote</span> &nbsp;&nbsp;&nbsp; <span>{{data.vote}}: Upvotes</span>
               <br>
               <p style="text-align: center; color: red;">{{vote_alert}}</p><br><br>
              </div>
            </div>
          </div>
         
      </div>
      <div class="col-4">
       <h3 style="">Similar Questions</h3>
       <p *ngFor="let data of allQuestions"> <span routerLink="/question/{{data.question_id}}/{{data.category}}" style="color: blue; cursor: -webkit-grab; cursor: grab;">{{data.question}}</span></p>
      </div>
    </div>
  </div>