@import url('//fonts.googleapis.com/css?family=Roboto|Material+Icons');
.menu-item{
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
}

.menu-spacer {
  flex: 1 1 auto;
}

.parent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

mat-toolbar {
    background-color: #001F3F;
    color: #fef8f2;
    align-items: center;
}

a {
    margin: 0 10px;
}

.logo {
    padding-left: 10px;
    font-size: 150%;
}


.mat-toolbar{
  height: 10vh;
}

div {
    overflow: inherit;
}

.mat-button:hover {
  box-shadow: 1px 1px wheat;
  
 }

 .notifications{
   margin-left: 20px;
   
 }

 .notificationMenu{
   max-height: 250px !important;
   overflow-y: scroll;
 }

* {
  scrollbar-width: thin;
  scrollbar-color: #001F3F #fff;
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #001F3F;
  border-radius: 20px;
  border: 3px solid #fff;
}

