/* Author: Vidip Malhotra*/
#alert_message{
    text-align: center; color: red;
}

#mainques{
    background-color: #f6f7f8;
}

#askedby{
    color: grey;
}

#noasn{
    color: red;
}

#greenplus{
    color: green;
}

#blueplus{
    color: blue;
}

#tablerow{
    border-bottom: 1px solid grey;
}