<div style="font-family: Roboto, Helvetica Neue, sans-serif;" class="container">
    <div class="feedback-form">
        <div style="text-align: center;" class="add-comment">
            <div style="font-family: Roboto, Helvetica Neue, sans-serif;margin-top:30px" class="row justify-content-center">
<br>
<br>
                <h3><b>Write Your Blog !</b></h3>
                <br>
                <br>
            </div>
            <div class="card">
                <form #writeblogForm="ngForm" (ngSubmit)="onSubmit(writeblogForm)">
                    <input type="hidden" name="_id" #_id="ngModel"
                        [(ngModel)]="writeblogService.selectedWriteblog._id">
                        <div class="row justify-content-center">

                            <div class="input-1">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                    <label id="label-title">Enter your name</label>
                                </div>
                                <div style="margin-top:-5px" class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                    <div class="input-field">
                                        <input required type="text" name="name" #name="ngModel"
                                            [(ngModel)]="writeblogService.selectedWriteblog.name"
                                            placeholder="Enter name " required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        

                    <div class="row justify-content-center">

                        <div class="input-1">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                <label id="label-title">Enter the title of the blog</label>
                            </div>
                            <div style="margin-top:-5px" class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                <div class="input-field">
                                    <input required type="text" name="title" #title="ngModel"
                                        [(ngModel)]="writeblogService.selectedWriteblog.title"
                                        placeholder="Enter title " required>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div style="margin-top: 25px;" class="row justify-content-center">

                        <div class="input-1">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

                                <label id="label-title">Write a brief introdution to your blog *</label>

                            </div>
                            <div  class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

                            
                                    <div class="row">
                                        <div class="input-field ">
                                            <input  required type="text" style="height: 50px; width: inherit;" name="introduction"
                                                #introduction="ngModel" [(ngModel)]="writeblogService.selectedWriteblog.introduction"
                                                placeholder="">
                                        </div>
                                    </div>
                                </div>
                          
                        </div>
                    </div> -->
                    <div style="margin-top: 25px;" class="row justify-content-center">


                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

                            <label style="text-align: left;" id="label-title">Write a brief introduction for your blog.</label>

                        </div>



                        <div class="input-field">
                            <br>

                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <textarea class="form-control" required type="text" style="height: 80px; width: inherit;" name="introduction"
                                #introduction="ngModel" [(ngModel)]="writeblogService.selectedWriteblog.introduction"
                                >introdution</textarea>
                        </div>
                    </div>
               

                    <div style="margin-top: 25px;" class="row justify-content-center">


                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

                            <label style="text-align: left;" id="label-title">Write the content for your blog.</label>

                        </div>



                        <div class="input-field">
                            <br>

                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <textarea required type="text" style="height: 800px; width: inherit;" name="content"
                                #content="ngModel" [(ngModel)]="writeblogService.selectedWriteblog.content"
                                >write here</textarea>
                        </div>
                    </div>
                    <div style="margin-top: 45px;" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          
                            <button class="btn btn-custom right" id="reset-button" type="submit"
                                [disabled]="!writeblogForm.valid">Create Blog</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <style>
        input {
            margin-top: 1px;
            width: 300px;
            border-radius: 3px;
            height: 40px;
            background: gainsboro;
            border: 2px solid lavender;
        }

        textarea{
            margin-top: 1px;
            width: 300px;
            border-radius: 3px;
            height: 40px;
            background: gainsboro;
            border: 2px solid lavender;
        }

  


    </style>