<!-- /* @author Swarali Ghalwadkar <swarali.ghalwadkar@dal.ca> */ -->

<div class="banner">
  <div class="fluid-container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <div class="row justify-left">
          <div class="col-lg-4 col-md-12  col-sm-12 col-xs-12">
            <div class="container">
              <div style="position:absolute ; margin-top:35px" class="text">
                <p style="color: black;font-weight:700 ;font-size:18px">Are you confused about your symptoms? Check out
                  our unique and
                  <br> beneficial feature that selects a
                  doctor
                  for you. </p>
                <br>
                <button id="button" [routerLink]="['/suggest']">SUGGEST A DOCTOR</button>
              </div>
            </div>
          </div>
        </div>
        <img style="width:inherit ; height:300px;" class="img-responsive" src="./assets/pic1.jpg">
      </div>
    </div>
  </div>
</div>

<div id="section-2" data-aos="flip-left" class="container">

  <div id="hi">
    <h1>Welcome To HealthHub</h1>
  </div>

  <br>
  <div id="hi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br> ut labore
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex
    ea commodo consequat.</div>
  <br>
  <br>
  <br>

  <div id="circles">

    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <img src="./assets/aboutus.PNG">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit consectetur<br> adipiscing elit sed do.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <img src="./assets/our mission.PNG">
        <h2>Our Mission</h2>
        <p>Lorem ipsum dolor sit consectetur<br> adipiscing elit sed do.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <img src="./assets/our vision.PNG">
        <h2>Our Vision</h2>
        <p>Lorem ipsum dolor sit consectetur<br> adipiscing elit sed do.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <img src="./assets/ourhistory.PNG">
        <h2>Our History</h2>
        <p>Lorem ipsum dolor sit consectetur<br> adipiscing elit sed do.</p>
      </div>
      <!-- </div> -->





    </div>
  </div>


</div>



<!-- ******** Home Nursing Section ********* -->

<div class="parallax">
  <div class="container">
    <br>
    <br>
    <br>

    <div class="reduce">
      <div id="heading">
        <h1>HOME NURSING CARE</h1>
      </div>
      <br>
      <div id="para">
        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac sapien dolor. Maecenas a enim ac velit
          vulputate efficitur. Integer bibendum dapibus risus sit amet elementum. Nullam vulputate accumsan sapien,
          vel faucibus lorem consectetur vel.<br>
          Integer dapibus augue sed ullamcorper tempor. Pellentesque odio elit, maximus sed est in, lobortis facilisis
          neque.
          <br> Mauris eu mi et nibh scelerisque malesuada. Nulla fringilla ultrices elit.
          <br> Cras tristique eu est quis hendrerit.<br> Etiam accumsan erat vitae commodo commodo.
          <br> Vestibulum euismod mattis sem, eget consequat sem pharetra eget.
          <br> Aliquam et quam mi.</P>
      </div>
      <br>
      <div>
        <a id="nursing-button" class="waves-effect waves-light btn">BOOK AN APPOINTMENT</a></div>
      <br>
      <br>
    </div>
  </div>
</div>


<div data-aos="fade-left" class="section-4">
  <div class="container">
    <h1>OUR SERVICES</h1>
  </div>
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <div class="card">
          <img id="image-2" src="./assets/doctor.jpg">
          <div class="content-5">
            <h2>DENTISTRY</h2>

            <p>Lorem ipsum dolor sit consectetur<br> adipiscing elit sed do.</p>
            <a id="read-more" class="waves-light waves-effect btn">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <div class="card">
          <img id="image-2" src="./assets/doctor.jpg">
          <div class="content-5">
            <h2>DERMATOLOGY</h2>

            <p>Lorem ipsum dolor sit consectetur<br> adipiscing elit sed do.</p>
            <a id="read-more" class="waves-light waves-effect btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <div id="card-2" class="card">
          <img id="image-2" src="./assets/doctor.jpg">

          <div class="content-5">
            <h2>RADIOLOGY</h2>

            <p>Lorem ipsum dolor sit consectetur<br> adipiscing elit sed do.</p>
            <a id="read-more" class="waves-light waves-effect btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <div class="card">

          <img id="image-2" src="./assets/doctor.jpg">
          <div class="content-5">
            <h2>SURGERY</h2>

            <p>Lorem ipsum dolor sit consectetur<br> adipiscing elit sed do.</p>
            <a id="read-more" class="waves-light waves-effect btn">Read More</a>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
<!-- ********* Meet our doctors section******** -->


<div class="parallax-2">
  <div class="container">
    <br>
    <br>
    <br>

    <div id="heading">
      <h1><b>MEET OUT DOCTORS</b></h1>
    </div>
    <br>
    <div id="para">
      <P><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac sapien dolor. Maecenas a enim ac velit
          vulputate efficitur. Integer bibendum dapibus risus sit amet elementum. Nullam vulputate accumsan sapien,
          vel faucibus lorem consectetur vel.<br>
          Integer dapibus augue sed ullamcorper tempor. Pellentesque odio elit, maximus sed est in, lobortis facilisis
          neque.
          <br> Mauris eu mi et nibh scelerisque malesuada. Nulla fringilla ultrices elit.
          <br> Cras tristique eu est quis hendrerit.<br> Etiam accumsan erat vitae commodo commodo.
          <br> Vestibulum euismod mattis sem, eget consequat sem pharetra eget.
          <br> Aliquam et quam mi.</b></P>
    </div>
    <br>

  </div>

  <!-- ********************* -->
  <div class="section-4">

    <div class="container">

      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div id="doctor-card" class="card">
            <img id="doctor-image" src="./assets/doctor1.PNG">
            <div class="content-5">
              <h3>Peter Pan</h3>

              <h5>Radiologist</h5>
              <br>
              <a id="read-more" [routerLink]="['/feedback']" class="waves-light waves-effect btn">Book An
                Appoinment</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
          <div id="doctor-card" class="card">
            <img id="doctor-image" src="./assets/doctor2.PNG">
            <div class="content-5">
              <h3>Harry Styles</h3>

              <h5>Radiologist</h5>
              <br>
              <a id="read-more" class="waves-light waves-effect btn">Book An Appoinment</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
          <div id="doctor-card" class="card">
            <img id="doctor-image" src="./assets/doctor3.PNG">

            <div class="content-5">
              <h3>Liam Payne</h3>

              <h5>Radiologist</h5>
              <br>
              <a id="read-more" class="waves-light waves-effect btn">Book An Appoinment</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
          <div id="doctor-card" class="card">

            <img id="doctor-image" src="./assets/doctor4.PNG">
            <div class="content-5">
              <h3>Louis Tomlinson</h3>

              <h5>Cardiologist</h5>
              <br>
              <a id="read-more" class="waves-light waves-effect btn">Book An Appoinment</a>
            </div>
          </div>
        </div>
      </div>
      <br>


      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
          <div id="doctor-card" class="card">
            <img id="doctor-image" src="./assets/doctor1.PNG">
            <div class="content-5">
              <h3>Peter Pan</h3>

              <h5>Radiologist</h5>
              <br>
              <a id="read-more" class="waves-light waves-effect btn">Book An Appoinment</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
          <div id="doctor-card" class="card">
            <img id="doctor-image" src="./assets/doctor2.PNG">
            <div class="content-5">
              <h3>Harry Styles</h3>

              <h5>Radiologist</h5>
              <br>
              <a id="read-more" class="waves-light waves-effect btn">Book An Appoinment</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
          <div id="doctor-card" class="card">
            <img id="doctor-image" src="./assets/doctor3.PNG">

            <div class="content-5">
              <h3>Liam Payne</h3>

              <h5>Radiologist</h5>
              <br>
              <a id="read-more" class="waves-light waves-effect btn">Book An Appoinment</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
          <div id="doctor-card" class="card">

            <img id="doctor-image" src="./assets/doctor4.PNG">
            <div class="content-5">
              <h3>Louis Tomlinson</h3>

              <h5>Cardiologist</h5>
              <br>
              <a id="read-more" class="waves-light waves-effect btn">Book An Appoinment</a>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

</div>



<!-- Code section for healthy drinks blog -->
<div data-aos="fade-in">
  <div style="margin-top:150px;" class="container">
    <div style="border-radius:60px 0px 60px 0px; padding: 20px;border:6px solid #001F3F;" class="card">
      <div class="row">
        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-7">

          <h2>CHECK OUT OUR LATEST BLOG</h2>
          <h3>HEALTHY DRINKS</h3>
          <br>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit, eros vitae efficitur
            ullamcorper, enim eros hendrerit elit, at venenatis velit mauris ac augue.<br> Praesent nec consectetur
            arcu. Maecenas sagittis mi eros, vitae auctor libero pellentesque non.<br> Mauris a leo posuere,
            sollicitudin tellus sed, faucibus libero. </p>
          <a id="read-more" style="font-size: x-large;
padding: inherit;" class="waves-effect waves-light">READ MORE</a>
        </div>

        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-5">
          <img style="width: inherit;
    height: fit-content;" src="./assets/glitter4.gif" class="img-responsive">
        </div>

      </div>
    </div>

  </div>
</div>


<!-- Code section for corona-virus alert  -->
<div class="section-0">
  <div style="background-image:url(./assets/corona.gif);height: 150px;text-align: center;" class="fluid-container">
    <div class="row  justify-content-center">
      <div class="col">
        <p style="font-size: 31px;font-weight: 800 ;color:whitesmoke;margin-top: 60px;">CORONA VIRUS UPDATE ! &nbsp;
          &nbsp; 23 NEW CASES IN CANADA !</p>
      </div>
    </div>
  </div>

</div>





<style>
  .parallax {

    background: url(./assets/home-nursing.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    margin-top: 150px;
    height: fit-content;


  }

  .parallax-2 {

    background: url(./assets/parallax8.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: fit-content;
    margin-top: 151px;


  }
</style>