<!-- /* @author Swarali Ghalwadkar <swarali.ghalwadkar@dal.ca> */ -->

<div class="banner">
  <div class="fluid-container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <div class="row justify-left">
          <div class="col-lg-4 col-md-12  col-sm-12 col-xs-12">
            <div class="container">
              <div style="position:absolute ; margin-top:35px" class="text">
                <p style="color: black;font-weight:700 ;font-size:18px">Are you confused about your symptoms and unsure
                  about what kind of doctor to visit? We can help you with that by recommending a doctor that's the best
                  for you </p>
                <br>
                <button id="button" [routerLink]="['/suggest']">SUGGEST A DOCTOR</button>
              </div>
            </div>
          </div>
        </div>
        <img style="width:inherit ; height:300px;" class="img-responsive" src="./assets/banner.jpg">
      </div>
    </div>
  </div>
</div>

<div id="section-2" data-aos="flip-left" class="container">

  <div id="hi">
    <h1>Welcome To HealthHub</h1>
  </div>

  <br>
  <div id="hi">Healthhub provides a platform for doctors to expand their patients base and reach out to more and
    more new
    patients. The application is not only confined to patients and doctors, but general users can use the platform
    to
    learn more about health topics from experienced doctors and physicians.</div>
  <br>
  <br>
  <br>

  <div id="circles">

    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <img src="./assets/aboutus.PNG">
        <h2>About Us</h2>
        <p>Healthhub is the one-stop shop for all your health needs</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <img src="./assets/our mission.PNG">
        <h2>Our Mission</h2>
        <p>To allow quick access to various health realted solutions</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <img src="./assets/our vision.PNG">
        <h2>Our Vision</h2>
        <p>To inspire healthier communities by connecting people to medical professionals</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-x-12">
        <img src="./assets/ourhistory.PNG">
        <h2>Our History</h2>
        <p>The newest organization in the online health industry</p>
      </div>
      <!-- </div> -->





    </div>
  </div>


</div>



<!-- ******** Home Nursing Section ********* -->

<div class="parallax">
  <div class="container">
    <br>
    <br>
    <br>

    <div class="reduce">
      <div id="heading">
        <h1>HOME NURSING CARE</h1>
      </div>
      <br>
      <div id="para">
        <p>Qualified, professional, trustworthy, kind, and dependable. We treat all of our patients as individuals, and
          we
          understand that we’re only as good as the caregivers who work with us and who serve our clients in care. We
          are pleased
          to serve clients throughout the Canada.Our employees have set an enviable standard for live-in caregivers that
          has garnered much praise from our clients. They
          offer a true level of consistency and comfort with the elederly on rotation, and they really become part of
          the family.</p>
      </div>
      <br>
      <div>
        <a id="nursing-button" class="waves-effect waves-light btn" [routerLink]="['/homeCare']">Schedule Homecare</a>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>









<!-- Code section for healthy drinks blog -->
<div data-aos="fade-in">
  <div style="margin-top:150px;" class="container">
    <div style="border-radius:60px 0px 60px 0px; padding: 20px;border:6px solid #001F3F;" class="card">
      <div class="row">
        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-7">

          <h2>CHECK OUT OUR LATEST BLOG</h2>
          <h3>HEALTHY DRINKS</h3>
          <br>
          <br>
          <p>Many people think that with proper nutrition they will bring sufficient amount of all the vitamins and
            minerals in their
            body. But, unfortunately, the food we eat is already so much processed that we only get reduced amounts of
            these
            substances with it. When we prepare food we can contribute to reducing the amount of vitamins and minerals,
            e.g. with
            cooking, exposure to air (oxygen), light (UV light)... It is possible to eat sufficient amounts of vitamins
            and minerals
            with dietary supplements, but it is even better that you spice up your menu with nuMe products. You will
            find a table of
            nutritional values in the description for each product, indicating how many vitamins and minerals (among
            other
            ingredients) he is containing.
          </p>
        </div>

        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-5">
          <img style="width: inherit;
    height: fit-content;" src="./assets/glitter4.gif" class="img-responsive">
        </div>

      </div>
    </div>

  </div>
</div>


<!-- Code section for corona-virus alert  -->
<div class="section-0">
  <div style="background-image:url(../../../assets/covid_banner.png);height: 150px;text-align: center;"
    class="fluid-container">
    <div class="row  justify-content-center">
      <div class="col">
        <p style="font-size: 31px;font-weight: 600 ;color:whitesmoke;margin-top: 60px;">COVID-19 UPDATE -
          &nbsp; 23 NEW CASES IN CANADA !</p>
      </div>
    </div>
  </div>

</div>





<style>
  .parallax {

    background: url(./assets/home-nursing.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    margin-top: 150px;
    height: fit-content;


  }

  .parallax-2 {

    background: url(./assets/parallax8.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: fit-content;
    margin-top: 151px;


  }
</style>