<div style="margin-top: 50px;" class="container">
    <div class="loop">
        
    <div class="title">
        <div class="row justify-content-center">
            <div style="text-align: center;" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
<p style="font-size: 30px;color: #001f3f;text-transform: uppercase;"><b>{{blog.title}}</b></p>
            </div>
        </div>

    </div>
    
<br>
<br>
<br>

    <div class="introduction">
      <div class="row justify-content-center">
            <div style="text-align: center;"  class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                {{blog.introduction}}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="content">
        <div class="row justify-content-center">
            <div style="text-align: center;"  class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
               {{blog.content}}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="name">
        <div class="row justify-content-center">
            <div style="text-align: left;"  class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
<p id="author">BLOG AUTHOR : {{blog.name}}</p>
            </div>
        </div>

    </div>
    </div>
    

</div>