<div class="container">
    <div class="text-center">
        <h2>Book Home Care</h2>
        <form [formGroup]="scheduleCare" (ngSubmit)="onScheduleAssessment()">
            <mat-form-field>
                <mat-label>Enter your Name</mat-label>
                <input formControlName="name" matInput required>
                <mat-error *ngIf="name.invalid">{{getNameError()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Enter your address</mat-label>
                <input formControlName="address" matInput required>
                <mat-error *ngIf="address.invalid">{{getAddressError()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Enter Home Care Date</mat-label>
                <input formControlName="careDate" matInput required [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                <mat-error *ngIf="careDate.invalid">{{getDateError()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Additional Comments</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" [disabled]="!scheduleCare.valid">
                Schedule Home Care</button>
        </form>
    </div>
</div>