<!-- /* @author Harshit Trivedi <harshit.trivedi@dal.ca> */ -->

<div>
    <h2>About Us</h2>
    <div>
        <p>
            HEALTHHUB allows users to book in-clinic appointments with doctors, purchase medicine, view blogs and
            access forum where the questions are answered by medical professionals.
            Better health is central to human happiness and well-being. HEALTHHUB web application is for health
            enthusiasts to track their health records. HEALTHHUB also provides a platform for doctors to expand their
            patients base and reach out to more and more new patients. The application is not only confined to patients
            and doctors, but general users can also use the platform to learn more about health topics from experienced
            doctors and physicians.
        </p>
        <p>
            HEALTHHUB is focused on patients who need to store their check-up records in order to be able to easily
            access them anytime they want. The main function of the system is register and store patient details and
            doctor details and retrieve these details as and when required, and also to manipulate these details
            meaningfully. System input contains patient details, diagnosis details, while system output is to get these
            details on to the screen. Apart from tracking health, HEALTHHUB eases the task of appointment booking,
            opting for insurance, ordering medicine, blogs, home care and management between patients and doctors.
        </p>
        <p>
            People aged 16 or above residing in Canada, having education above high school.
            Moreover, busy individuals who consider their time to be a valuable and limited resource. They are active
            physically and are positive in their outlooks. Behaviorally, they are often frugal and make smart purchase
            decisions, they will likely look first to the Internet to acquire information.
        </p>
    </div>
</div>