<!-- @author Avinash Gazula <agazula@dal.ca> -->

<button mat-icon-button tabindex="-1" class="close-button" [routerLink]="['/']" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<div class="parent">
    <section class="container">
        <div class="login">
            <h3>Login</h3>
            <br>
            <mat-card-actions>
                <button (click)="selectConsumer()" [class.mat-raised-button]="consumer" mat-stroked-button>For
                    Consumers</button>
                <button m={0} (click)="selectDoctor()" [class.mat-raised-button]="!consumer" mat-stroked-button>For
                    Doctors</button>
            </mat-card-actions>
            <form [formGroup]="loginForm">
                <mat-form-field class="first" appearance="standard">
                    <mat-label>Enter your email</mat-label>
                    <input formControlName="email" matInput placeholder="pat@example.com" required>
                    <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="standard">
                    <mat-label>Enter your password</mat-label>
                    <input formControlName="password" matInput required [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
                </mat-form-field>
                <br>
                <br>
                <mat-card-actions>
                    <button (click)="login()" mat-raised-button type="submit" color="primary">LOGIN</button>
                    <br>
                    <br>
                    <button (click)="openResetPasswordPage()" class="link" mat-button>Forgot Password?</button>
                    <br>
                    <button (click)="openRegisterPage()" class="link" mat-button>New User? Register
                        Here</button>
                </mat-card-actions>
            </form>

        </div>
    </section>

</div>