<!-- @author Avinash Gazula <agazula@dal.ca> -->

<button mat-icon-button tabindex="-1" class="close-button" [routerLink]="['/']" [mat-dialog-close]="true">
  <mat-icon class="close-icon">close</mat-icon>
</button>
<div class="parent">
  <section class="container">
    <div class="editprofile">
      <h3>Edit your information</h3>
      <form [formGroup]="editProfileForm">

        <mat-form-field class="first" appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
          <mat-label>Change Email Address</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="email.invalid && email.touched">
            {{getEmailError()}}
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
          <mat-label>Change password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint align="end">Min Length 8. At least 1 Uppercase, Lowercase and Number</mat-hint>
          <mat-error *ngIf="password.invalid && password.touched">
            {{getPasswordError()}}
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-card-actions>
          <button (click)="edit()" mat-raised-button type="submit" color="primary">Update Profile</button>
        </mat-card-actions>
      </form>
    </div>
  </section>
</div>