<!-- /* @author Avinash Gazula <agazula@dal.ca> */ -->

<body style="margin-bottom:50px;" fxLayout="column">
    <section style="margin-top: 10px;" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center center"
        fxLayoutGap="5%">
        <img class="profile-picture" src={{doctorImageSrc}} alt="Profile Picture">
        <article class="details-container">
            <h2>{{doctorName}}</h2>
            <h3>{{doctorSpecialization}}</h3>
            <h4>{{doctorDescription}}</h4>
            <h4 style="font-weight: bold; margin-top: 5px;">Location: <h4>{{doctorLocation}}</h4>
            </h4>
            <h4 style="font-weight: bold; margin-top: 5px;">Fee: <h4>{{doctorFee}}</h4>
            </h4>
            <h2>Appointments</h2>
            <div class="appointment-container" fxLayout="column">
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap="2%">
                    <button disabled mat-stroked-button (click)="selectTime1()" [class.mat-raised-button]="time1">09:00
                        AM</button>
                    <button mat-stroked-button (click)="selectTime2()" [class.mat-raised-button]="time2">11:00
                        AM</button>
                    <button mat-stroked-button (click)="selectTime3()" [class.mat-raised-button]="time3">02:00
                        PM</button>
                    <button mat-stroked-button (click)="selectTime4()" [class.mat-raised-button]="time4">04:00
                        PM</button>
                </div>
                <br>
                <button (click)="confirmAppointment()" class="confirm" mat-raised-button>Book Appointment</button>
            </div>
        </article>

    </section>
    <br>
    <mat-divider></mat-divider>
    <br>


    <app-feedback></app-feedback>
</body>