body{
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}

.example-card {
    max-width: 150px;
}

.mat-card-image{
    max-width: 150px;
    max-height: 100px;
    object-fit: cover;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.type-container{
    width: 80%;
    margin: 0 auto;
}

.search-container{
    width: fit-content;
    margin: 10px auto;
}

.mat-paginator-range-label {
    display: none !important;
}

.card-header {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
}
:host /deep/ .mat-card-header-text{
    margin: 0 !important;
    padding: 0 !important;
}

mat-card-title {
    font-size: 80% !important;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.scroll-container{
    overflow-x: scroll;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #001F3F #F5F5F5;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #001F3F;
  border-radius: 20px;
  border: 3px solid #F5F5F5;
}



mat-grid-list {
    flex-direction: row;
}

mat-card {
    float: left;
    margin: 10px;
}
mat-paginator {
    float: left;
}

.mat-icon-button {
    background-color: #001F3F;
    color: white;
}

.mat-raised-button {
    background-color: #001F3F;
    color: white;
    height: fit-content;
    width: fit-content;
    margin: auto 0;
    padding: 0 !important;
}