/* @author Swarali Ghalwadkar <swarali.ghalwadkar@dal.ca> */

body {
    width: 100%;
}

.profile-picture {
    max-width: 500px;
    max-height: 400px;
    object-fit: cover;
}

.details-container{
    width: 40%;
}

.confirm{
    background-color: #001f3f !important;
    color: white !important;
    width: fit-content;
}

.mat-raised-button{
    background-color: #2E8B57;
    color: white;
}

mat-icon {
    color: #ffc700;
}

body{
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}

.example-card {
    max-width: 250px;
}

.review-container{
    width: 70%;
    margin: 0 auto;
}

.card-header {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
}
:host /deep/ .mat-card-header-text{
    margin: 0 !important;
    padding: 0 !important;
}

mat-card-title {
    font-size: 80% !important;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.scroll-container{
    overflow-x: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #001F3F #F5F5F5;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #001F3F;
  border-radius: 20px;
  border: 3px solid #F5F5F5;
}

mat-grid-list {
    flex-direction: row;
}

mat-card {
    float: left;
    margin: 10px;
}

.mat-icon-button {
    background-color: #001F3F;
    color: white;
}


h5,h4,h3 {
    margin: 0;
}

mat-divider {
    width: 80%;
    margin: 0 auto;
}

#submit-button{

    background: #001f3f ;
    
    color: white;
    font-size: 14px;
    font-weight: 600;
  
    font-family:Helvetica;
    height: fit-content;
    transition: transform .2s;
    
}

#reset-button{
    background:#001f3f ;
    
    color: white;
    font-size: 14px;
    font-weight: 600;
  
    font-family:Helvetica;
    height: fit-content;
    transition: transform .2s;

}

#doctor-col{
padding: 30px;
}

.card{
padding: 20px;


height: fit-content;

border: 2px solid #09335e;
vertical-align: middle;




}