<div class="container">
    <div class="homeCare">
        <h1>Home Care Service</h1>
        <hr>
        <div class="row" style="justify-content: space-around;">
            <div>
                <h2>We provide a number of services</h2>
                <ul>
                    <li>24 Hour Home Care</li>
                    <li>Attendant Care Service</li>
                    <li>Household maintenance</li>
                    <li>Personal Care</li>
                    <li>Post-Operative Care</li>
                    <li>Transportation</li>
                    <li>Meals and Nutrition</li>
                </ul>
            </div>
            <div>
                <br><br>
                <img src="https://lh3.googleusercontent.com/proxy/W30w9xG4E3yBt-uAKGIRJk_JgUCWbP8bNJwsc8xRulXabYxhP9Uf05-Jb2s0DfFSJNEQgqRq9Qf0-XhD5MxNF5RDNN9g0LuDf_EvK-HxdrqRIrwGAalD-zXtKA" 
                alt="">
            </div>
        </div>
        <br>
        <h1 class="homeCare">We Care for You</h1>
        <hr>
        <p>
            Qualified, professional, trustworthy, kind, and dependable. We treat all of our
            patients as individuals, and we understand that we’re only as good as the caregivers who work with us and who
            serve our clients in care. We are pleased to serve clients throughout the Halifax area of Nova Scotia.
        </p>
        <p>
            We’re serious about the service we provide to seniors and others in our care. We’re diligent when it comes to
            checking references of potential caregivers — no employee is ever engaged until they undergo a thorough
            screening process which includes a Criminal Reference Check, and all new caregivers must be bonded and insured
            by the Worker Compensation Board.
        </p>
        <p>
            We appreciate the responsibility that comes with our very hands-on role of client care. We are proud to offer
            our services to clients across the Halifax area of Nova Scotia, including Dartmouth, Bedford and Sackville. We
            know that when we treat our care providers with kindness and respect, it will be reflected in the care they
            provide for our clients.
        </p>
        <p>
            Our employees have set an enviable standard for live-in caregivers that has garnered much
            praise from our clients. They offer a true level of consistency and comfort with the elederly on
            rotation, and they really become part of the family.
        </p>
        <div>
            <button mat-stroked-button
            (click)="onScheduleCare()" style="color: #001F3F;">Schedule Home Care</button>
        </div>
    </div>
<hr>
</div>
