/* author: Harshit Trivedi */

.example-card {
    max-width: 1600px;
  }
  
  .example-header-image {
    background-image: url('../../../../assets/cartIcon.png');
    background-size: cover;
  }

  .style1 {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .style2{
    text-align: center;
  }