<!-- /* @author Sai Sunil Menta <ss734478@dal.ca> */ -->
<!-- Mat-Card element is adopted from Angular Material and made lot of changes by customizing with css.
  Form elemnts from Angular Material is also been used while designing form elemnts like buttons.
 -->
<div class="container justify-content-center">
    <div class="row" style="padding: 10px;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="avatar"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>dui vivamus</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button class="raised" (click)="acceptAppointment('a')">Accept Appointment</button>
                <button mat-raised-button class="raised" (click)="deleteAppoinment('a')">Decline Appointment</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
