#mainheading{text-align: center; padding-top: 10%; color:white;}
#maincard{background-color: white; margin-top: -5%; height: 70%; width: 50%; margin-left: 25%;}
#submitbutton{margin-left: 32%; width:200px;}
#userfield{position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);}